/* page 1 */
.page1--fold1 {
    background-image: url('../img/bg_fold_1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.page1--fold3 {
    background-image: url('../img/bg_fold_3.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 768px) {
    .page1--fold1 {
        background-image: url('../img/bg_fold_1.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 70%;
        background-position-y: -20%;
    }
}
